.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-color: rgba(109, 125, 150, 0.644);
  border-radius: 20px;
}

.searchBar-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

input {
  border-radius: 5px;
  border-style: none;
  background-color: rgba(57, 65, 78, 0.644);
  font-size: 1rem;
  padding-block: 10px;
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
  width: 95%;
  margin-right: 5px;
}

input:focus {
  outline: none;
}

.search-button {
  background-image: url('../components/AddCategoryComponent/images/20310985681681810443-128.png');
  background-color: rgba(57, 65, 78, 0.644);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  height: 35px;
  padding-right: 5px;
  width: 35px;
}