.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px dashed rgba(109, 125, 150, 0.644);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 190px;
  margin-bottom: 10px;
}